<script setup>
import { ref } from 'vue';
import { useAuthStore } from '../store/auth'
const config = useRuntimeConfig();
const router = useRouter();

const showModal = ref(false);
const phone = ref("")
const smscode = ref("")

if (localStorage.getItem('token') != undefined ){
    router.push('/cabinet')

}


async function reqCode(){
    toggleModal()
    const { data, error, pending, refresh  } = await useFetch( 'auth/login', {
        method: 'POST',
        baseURL: config.public.baseURL,
        body: {
            "phone": phone.value,
        }
    })
}

function login(){
    const authStore = useAuthStore()
    authStore.login(phone.value, smscode.value)
    router.push('/cabinet')
}

function toggleModal() {
  showModal.value = !showModal.value;
}
</script>
<template>
    <div class="card w-96 bg-base-300 shadow-md rounded-md flex flex-col justify-center items-center p-4 space-y-4">
    <h1 class="text-2xl">FundMatch</h1>
    <input type="text" placeholder="Телефон" class="input input-bordered w-full max-w-xs" v-model="phone"/>
    <button class="btn btn-primary w-full max-w-xs" @click="reqCode">Войти</button>
    
    <div class="modal" :class="{ 'modal-open': showModal }">
        <div class="modal-box flex flex-col justify-center items-center space-y-4 rounded-md">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" @click="toggleModal">✕</button>
            <h3 class="text-lg">Подтверждение номера</h3>
            <input type="text" placeholder="Код из SMS" class="input input-bordered w-full max-w-xs" v-model="smscode"/>
            <button class="btn btn-primary w-full max-w-xs font-bold" @click="login">Отправить</button>
        </div>
    </div>
    </div>
</template>
