<script setup>
const props = defineProps({
    user: {
        required: true
    },
    amount: {
        required: false
    }
})
</script>

<template>
    <div class="flex flex-row bg-base-300 w-full h-20 text-white rounded-md px-2 justify-between items-center">
    <div class="flex flex-col ">
        <p>{{ user.full_name || "Без Имени" }}  <a :href="'tel:' + user.phone" class="text-sm text-slate-500 py-2">{{ user.phone }}</a></p>
        
        <p class="text-sm"> <span class="text-sm text-slate-500 py-2">Сумма: </span>{{ amount }}</p>
    </div>
    </div>
</template>