<script setup>
    import { ref } from 'vue';
    import ContributorCard from './ContributorCard.vue'
    const props = defineProps(['ev', 'user', ])
    const showEventModal = ref(false);
    const isGoalSuccess = ref(false)
    const router = useRouter()
    
    if(props.ev.goal <= props.ev.current_amount){
        isGoalSuccess.value = true
    }
    
    function toggleModal() {
        showEventModal.value = !showEventModal.value;
    }

    function pay(){
        window.location.href = `https://pay.ishotel.xyz/payment?price=100&user_id=${props.user.id}&event_id=${props.ev.id}&event_title=title`
    }
</script>

<template>
    <div class="flex flex-row bg-base-100 w-full h-20 text-white rounded-md px-2 items-center">
        <div class="flex flex-col w-full">
            <p>{{ ev.title }} <span class="text-slate-500 px-2">{{ ev.event_time }}</span></p>
            <p class="text-sm mt-6"><span :class = "{ 'text-green-400': isGoalSuccess }">{{ ev.current_amount }}</span> / <span class="text-green-400"> {{ ev.goal }} </span></p>
        </div>
        <button class="btn btn-square btn-neutral text-xl text-green-400" @click="toggleModal">ℹ</button>

        <div class="modal" :class="{ 'modal-open': showEventModal }">
        <div class="modal-box flex flex-col justify-center items-center space-y-4 rounded-md">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" @click="toggleModal">✕</button>
            <h3 class="text-lg">Инфо про событие</h3>

            <div class="w-full flex flex-col space-y-2">
                <p><span class="text-slate-500">Название: </span>{{ ev.title }}</p>
                <p><span class="text-slate-500">Дата: </span>{{ ev.event_time }}</p>
                <p><span class="text-slate-500">Место: </span>{{ ev.address }}</p>
                <p><span class="text-slate-500">Доп. Информация: </span>{{ ev.notes }}</p>
                <p><span class="text-slate-500">Собрано:</span> <span :class = "{ 'text-green-400': isGoalSuccess }">{{ ev.current_amount }}</span> из <span class="text-green-400"> {{ ev.goal }} </span></p>
                <button @click="pay" class="btn btn-success font-bold">Дать денег</button>
                <h1 class="text-white w-full text-center">Участники</h1>
                <div class="flex flex-col space-y-2"> 
                    <ContributorCard v-if="ev.contributions" v-for="contributor in ev.contributions" :amount="contributor.amount" :user="contributor.user" :key="contributor.id"/>
                </div>
            </div>

            
        </div>
    </div>

    </div>
</template>+ 