<script setup>
    const props = defineProps(['member'])
    const showDeleteMemberModal = ref(false)
    const emit = defineEmits(['kickMember']);

    function toggleDeleteMemberModal(){
        showDeleteMemberModal.value = !showDeleteMemberModal.value;
    }
    function kickMember(){
        emit('kickMember', props.member.id)
        toggleDeleteMemberModal()
    }


</script>

<template>
   <div class="flex flex-row bg-base-100 w-full h-20 text-white rounded-md px-2 justify-between items-center">
    <div class="flex flex-col ">
        <p>{{ member.full_name || "Без Имени" }}</p>
        <a :href="'tel:' + member.phone" class="text-sm text-slate-500 py-2">{{ member.phone }}</a>
    </div>
    <button class="btn btn-square btn-error btn-sm" @click="toggleDeleteMemberModal">✕</button>


    <div class="modal" :class="{ 'modal-open': showDeleteMemberModal }">
        <div class="modal-box flex flex-col justify-center items-center space-y-4 rounded-md w-fit px-12 py-6">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" @click="toggleDeleteMemberModal">✕</button>
            <h3 class="text-lg">Удалить участника?</h3>
            <div class="flex flex-row justify-center items-center space-x-2">
                <button @click="toggleDeleteMemberModal" class="btn btn-success font-bold">Нет</button>
                <button @click="kickMember" class="btn btn-error font-bold">Да</button>
            </div>
        </div>    
    </div>

   </div>
</template>