<script setup>


const props = defineProps({
    team: {
        required: false
    }
})
const showCreateTeamModal = ref(false);
const config = useRuntimeConfig();
const team_name = ref("")
const emit = defineEmits(['teamCreation']);

function toggleCreateTeamModal() {
    showCreateTeamModal.value = !showCreateTeamModal.value;
}

function sendTeamCreationEvent(){
    emit('teamCreation', team_name)
    toggleCreateTeamModal()
}

</script>


<template>

    <div v-show="!team" class="flex flex-col w-full h-full text-white justify-center items-center rounded-md px-2 mt-2 space-y-2">
        <input type="button" @click="toggleCreateTeamModal" class="btn btn-neutral" value="Создать команду">

        <div class="modal" :class="{ 'modal-open': showCreateTeamModal }">
        <div class="modal-box flex flex-col justify-center items-center space-y-4 rounded-md">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" @click="toggleCreateTeamModal">✕</button>
            <h3 class="text-lg">Создать Команду</h3>
            <input type="text" placeholder="Имя Команды" class="input input-bordered w-full max-w-xs" v-model="team_name"/>
            <button class="btn btn-primary w-full max-w-xs font-bold" @click="sendTeamCreationEvent">Создать</button>
        </div>
    </div>

    </div>
    <div v-if="team" class="flex flex-col w-full h-full text-white justify-center items-center rounded-md px-2 mt-2 space-y-2">
            <p><span class="text-slate-500">Название: </span>{{team.name}}</p>
            <p><span class="text-slate-500">Кол-во Участников: </span>{{ team.count_members }}</p>
            <p><span class="text-slate-500">Текущих событий: </span>{{ team.count_events }}</p>
    </div>
</template>