<script setup>
const props = defineProps({
    user: {
        required: true
    },
    team: {
        required: false
    }
})
</script>

<template>
    <div class="flex flex-col w-full h-full text-white items-center">
        <h3 class="font-bold text-lg">{{ user.full_name || "Без Имени"}}</h3>
        <div class="flex flex-col w-full h-full mt-2 space-y-2">
            <p><span class="text-slate-500">Телефон: </span>{{user.phone}}</p>
            <p><span class="text-slate-500">Команда: </span>{{team.name || "Нет команды"}}</p>
        </div>
    </div>
</template>