<script setup>
import { ref } from 'vue';
import UserCard from '../components/Cabinet/UserCard.vue';
import MemberCard from '../components/Cabinet/MemberCard.vue'
import EventCard from '../components/Cabinet/EventCard.vue'
import TeamCard from '../components/Cabinet/TeamCard.vue';

const showEditUserModal = ref(false);
const showAddMemberModal = ref(false);
const showAddEventModal = ref(false);
const addMemberPhone = ref("")


const newUsername = ref("")
const newEvent = ref({})
const router = useRouter();
const config = useRuntimeConfig();


const { data: user, error: user_err } = await useFetch( 'auth/get-credentials', {
        method: 'GET',
        baseURL: config.public.baseURL,
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("token"))
        },
})

const { data: team, error: team_err } = await useFetch( '/team', {
        method: 'GET',
        baseURL: config.public.baseURL,
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("token"))
        }, 
})



if (localStorage.getItem('token') == undefined ){
    router.push('/')

}

function toggleModal() {
    showEditUserModal.value = !showEditUserModal.value;
}

function toggleMemberModal() {
    showAddMemberModal.value = !showAddMemberModal.value;
}

function toggleEventModal() {
    showAddEventModal.value = !showAddEventModal.value;
}

async function updateUsername(){
    await useFetch( '/auth/change-username', {
        method: 'PATCH',
        baseURL: config.public.baseURL,
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("token"))
        },
        body: {
          'full_name': user.value.full_name
        }
  })
  toggleModal()
}

async function createTeam(name){
    const { data: team, error: team_err } = await useFetch( '/team/create', {
        method: 'POST',
        baseURL: config.public.baseURL,
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("token"))
        },
        body: {
          'name': name
        }
  })
}

async function addMember( ){
    const { data: team, error: team_err } = await useFetch( '/team/invite', {
        method: 'POST',
        baseURL: config.public.baseURL,
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("token"))
        },
        body: {
          'phone': addMemberPhone
        }
    })
    toggleMemberModal()
  
  }



async function kickMember(id){
    const { data: team, error: team_err } = await useFetch( '/team/remove-member', {
        method: 'DELETE',
        baseURL: config.public.baseURL,
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("token"))
        },
        body: {
          'id': id
        }
    })
  
  }

  async function addEvent(){
    await useFetch( '/event/create', {
        method: 'POST',
        baseURL: config.public.baseURL,
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("token"))
        },
        body: newEvent
    })
    toggleEventModal()

    const { data: team, error: team_err } = await useFetch( '/team', {
        method: 'GET',
        baseURL: config.public.baseURL,
        headers: {
          "Authorization": JSON.parse(localStorage.getItem("token"))
        }, 
})
  }
</script>


<template>
    <div class="grid grid-cols-3 gap-4 mt-4">
        <div class="flex flex-col gap-4">
            <div class="sticky p-4 w-96 shadow-md flex flex-col items-center justify-center rounded-md bg-base-300 text-black text-xl">
                <button @click="toggleModal" class="btn btn-sm text-xl btn-circle btn-ghost absolute right-2 top-2 text-slate-500">✎</button>
                <UserCard class="mt-8" :user="user" :team="team || {'name': 'Нет команды'}"/>
            </div>
            <div class="sticky h-96 w-96 shadow-md flex flex-col items-center rounded-md bg-base-300 text-black text-xl">
              <h1 class="text-white">Команда</h1>
              <TeamCard @team-creation="createTeam" :team="team"/>
            </div>
        </div>
        <div class="h-full w-96 p-2 shadow-md flex flex-col items-center space-y-2 rounded-md bg-base-300 text-black text-xl">
            <EventCard v-if="team" v-for="ev in team.events" :key="ev.id" :ev="ev" :user="user"/>
            <button class="btn btn-neutral font-bold mb-4" @click="toggleEventModal">Создать событие</button>
        </div>
        <div class="h-full w-96 p-2 shadow-md flex flex-col items-center rounded-md bg-base-300 text-black text-xl space-y-2">
            <h1 class="text-white">Участники</h1>
            <MemberCard v-if="team" v-for="member in team.members" :key="member.id" :member="member" @kick-member="kickMember"/>
            <button class="btn btn-neutral font-bold mb-4" @click="toggleMemberModal">Добавить участника</button>
        </div>


        <div class="modal" :class="{ 'modal-open': showEditUserModal }">
        <div class="modal-box flex flex-col justify-center items-center space-y-4 rounded-md">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" @click="toggleModal">✕</button>
            <h3 class="text-lg">Редактировать пользователя</h3>
            <input type="text" placeholder="Фамилия Имя" class="input input-bordered w-full max-w-xs" v-model="user.full_name"/>
            <button class="btn btn-primary w-full max-w-xs" @click="updateUsername">Отправить</button>
        </div>    
    </div>

    <div class="modal" :class="{ 'modal-open': showAddMemberModal }">
        <div class="modal-box flex flex-col justify-center items-center space-y-4 rounded-md">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" @click="toggleMemberModal">✕</button>
            <h3 class="text-lg">Добавить участника</h3>
            <input type="text" placeholder="Телефон" v-model="addMemberPhone" class="input input-bordered w-full max-w-xs"/>
            <button class="btn btn-primary w-full max-w-xs" @click="addMember">Добавить</button>
        </div>    
    </div>

    <div class="modal" :class="{ 'modal-open': showAddEventModal }">
        <div class="modal-box flex flex-col justify-center items-center space-y-4 rounded-md">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" @click="toggleEventModal">✕</button>
            <h3 class="text-lg">Добавить событие</h3>
            <input type="text" placeholder="Название" v-model="newEvent.title" class="input input-bordered w-full max-w-xs"/>
            <input type="text" placeholder="Цель" v-model="newEvent.goal" class="input input-bordered w-full max-w-xs"/>
            <input type="text" placeholder="Адрес" v-model="newEvent.address" class="input input-bordered w-full max-w-xs"/>
            <input type="date" placeholder="Дата" v-model="newEvent.date" class="input input-bordered w-full max-w-xs"/>
            <textarea name="notes" v-model="newEvent.notes" class="textarea textarea-bordered w-full max-w-xs" placeholder="Заметки"></textarea>
            <button class="btn btn-primary w-full max-w-xs" @click="addEvent">Добавить</button>
        </div>    
    </div>

    </div>
</template>